input, textarea {
  border-radius: 10px !important
}

.bg-blue {
  background-color: #dbd9ff !important
}

.call-to-action{
  margin: 2px;
  padding: 20px;
  border: 1px solid lightgrey;
}

.btn{
  background-color: #6c63ff;
  color: white;
  border: none !important;
  border-radius: 10px !important;
  text-decoration: none;
  font-family: sans-serif ;
  cursor: pointer
}



/* MOBILE */
@media(max-width: 768px){
  .bg-image{
    background-image: url('img/masthead.png'); 
    background-position: top center; 
    background-size: contain; 
    background-repeat: no-repeat;
  }

  .title {
    font-size: 2rem !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

}



/* DESKTOP */
@media(min-width: 768px){
  .bg-image{
    background-image: url('img/masthead.png'); 
    background-position: center right; 
    background-size: contain; 
    background-repeat: no-repeat;
  }

  .title {
    font-size: 3rem !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}