input, textarea {
  border-radius: 10px !important
}

.bg-blue {
  background-color: #dbd9ff !important
}

.bg-image{
  background-image: url('img/masthead.png'); 
  background-position: center right; 
  background-size: contain; 
  background-repeat: no-repeat;
  opacity: 10%;
}


.call-to-action{
  padding: 20px;
  border: 1px solid lightgrey;
}

.btn{
  background-color: #6c63ff;
  color: white;
  border: none !important;
  border-radius: 10px !important;
  text-decoration: none;
  font-family: sans-serif ;
  cursor: pointer
}